a
{
float:center;
text-align:center;
background:#818991;
padding-left:2.5%;
padding-right:2.5%;
padding-bottom:2.5%;
padding-top:2.5%;
transition: padding 2.5s;
font-size:250px;
text-decoration:none;
color:black;
vertical-align:center;
height: 50%;
line-height: 100%;
