
  .header
{
   background-color:black;
   padding:2.5%;
   position:absolute;
}
a
{
   text-decoration:none;
   font-family:"helvetica";
   color:#999;
   font-size:25px;
   margin:15px;
   transition:0.7s;
}
a:hover
{
   color:white;
   opacity:0.4;
}
  .info
  {
    
    color:#C0C0C0;
    background-color:black;
    font-family:Helvetica;
    font-size:25px;
    top:200px;
    position:relative;
    width:70%;
    height:30px;
    
    
  }
  
  

  
