
body {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'Helvetica', 'Roboto', arial, sans-serif;
}
*:focus {
  outline: none;
}
.header
{
   background-color:#8B7D6B;
   padding:2.5%;
   position:absolute;
   
}
a
{
   text-decoration:none;
   color:#CC7722;
   font-size:25px;
   margin:15px;
   transition:0.7s;
}
a:hover
{
   color:white;
   opacity:0.4;
}

.info
{
  color:whitesmoke;
  background-color:#330000;
  font-size:20px;
  top:170px;
  position:relative;
  width:60%;
  padding:1.5%;
   
  
}
  
  

  
