<style>
  body
  {
    background-color:#C0C0C0;
  }
  a
  {
  text-decoration:none;
  color:#999;
  padding:2.5%;
  background:black;
  font-size:25px;
  }
  a:hover
  {
  text-decoration:none;
  color:white;
  padding:2.5%;
  background:black;
  font-size:30px;
  }
  
  




  .header
  {
    text-align:left;
    background-color:#818991;
    padding:4%;
    position: fixed;
  }
  .cool
  {
    width: 100px;
    height: 100px;
  }



