body {
  background-color:#CDC5BF;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'Helvetica', 'Roboto', arial, sans-serif;
  font-weight:100;
}

.header
{
   background-color:#8B7D6B;
   position:fixed;
   padding:1.5%;
   box-shadow: 10px 10px 10px #999;
   
}
a
{
   text-decoration:none;
   color:whitesmoke;
   font-size:25px;
   margin:15px;
   transition:0.7s;
}
a:hover, a:focus
{
   color:white;
   opacity:0.4;
}

.info
{
  color:#383838;
  font-size:25px;
  top:20%;
  position:absolute;
  font-weight:300;
  padding:1.5%;
  border-bottom-color:black;
  border-bottom-width:1px;
  border-bottom-style:solid;
}

.project
{
  color:#383838;
  font-size:20px;
  top:40%;
  position:absolute;
  font-weight:300;
  border-bottom-color:black;
  border-bottom-style:solid;
  padding:1.5%;
  background-color:white;
}
.maps
{
  color:#383838;
  font-size:20px;
  top:75%;
  position:absolute;
  font-weight:300;
  border-bottom-color:black;
  border-bottom-style:solid;
  padding:1.5%;
  background-color:white;
}

ul
{
border-left-style:solid;
border-left-color:black;
}
.social
{
float:right;
width:59px;
height:59px;
}
/*Scrollbar stuff that is annoying*/

.scrollbar {
        height: 150px;
        display: block;
        overflow: auto;
        border: solid 1px #ccc;
        padding: 10px;
}
/* Let's get this party started */
.scrollbar{
        scrollbar-base-color: #C0C0C0;
        scrollbar-base-color: #C0C0C0;
        scrollbar-3dlight-color: #C0C0C0;
        scrollbar-highlight-color: #C0C0C0;
        scrollbar-track-color: #EBEBEB;
        scrollbar-arrow-color: black;
        scrollbar-shadow-color: #C0C0C0;
        scrollbar-dark-shadow-color: #C0C0C0;
}
/*.scrollbar*/::-webkit-scrollbar {
        width: 8px;
}
/*.scrollbar*/::-webkit-scrollbar-button {
        background-color: rgba(0,136,204,0.8);
}
/* Track */
/*.scrollbar*/::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}
/* Handle */
/*.scrollbar*/::-webkit-scrollbar-thumb {
        background: rgba(0,136,204,0.8);
        border-radius:5px;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
        .scrollbarsDemo::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0,136,204,0.4);
}  
  

  
